.test-box {
  
}
.test-box h1 {
 color:;

}
.container {
background-color:silver ;
text-align: center;
font-family: oblique;
}
.gender {
display: contents;
justify-content: space-around;
color: steelblue;

}
.heading1 {
font-style:oblique ;
text-align: center;

}
.heading1 span {
  color: steelblue;
}