
.test-box h1 {
 color: steelblue;

}
.container {
background: wheat;
text-align: center;
font-family: oblique;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height: 80vh;
}
.gender {
display: contents;
justify-content: space-around;
color: white;
text-align: center;

}
.heading1 {
font-style:oblique ;
text-align: center;

}
.heading1 span {
  color: steelblue;
}
.button1 {
  background-color: darkolivegreen;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  

}
.footer {
  text-align: center;
  color: steelblue;
}
.boy {
  color: black;
}